.form {
  padding: 16px;
  color: #373D40;

  &_name {

    &_text {

    }

    &_input {

    }
  }

  &_gender {

    &_text {

    }

    &_buttons {
      display: flex;

      &_label {
        display: flex;
        align-items: center;
        flex-direction: row-reverse;
      }

      &_male, &_female {
        background-color: #F5F8F9;
        border-radius: 16px;
        padding: 8px;
      }

    }
  }

  &_email {

    &_text {

    }

    &_input {

    }
  }

  &_mobile {

    &_text {

    }

    &_input {

    }
  }

  &_customerID {

    &_text {

    }

    &_input {

    }
  }

  &_membership {

    &_text {

    }

    &_buttons {

      &_img {
        background-color: #C7C7C7;
        border-radius: 16px;
        padding: 8px;
      }
    }
  }

  &_buttons {

  }
}

[type=radio] {
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0;
}

[type=radio] + img {
  cursor: pointer;
  padding: 8px;
}

[type=radio]:checked + img {
  background-color: #acafb0;
}
