body {
    background-color: #acafb0;
}
.formTemplate {
    overflow: hidden;
    display: flex;
    align-items: center;
    flex-direction: column;


    @media (min-width: 900px) {
        flex-direction: row;
    }

    &_imagePage {
        width: 100%;
        flex: 1;
        order: 1;
        justify-content: space-around;

        @media (min-width: 900px) {
            flex: 1;
            width: 33%;

        }
    }

    &_formWrapper {
        background-color: white;
        width: 100%;
        flex: 1;
        order: 2;
        justify-content: space-around;
        border-bottom-right-radius: 8px;
        border-bottom-left-radius: 8px;

        @media (min-width: 900px) {
            flex: 2;
            width: 66%;
            height: 600px;
            border-top-right-radius: 32px;
            border-bottom-right-radius: 32px;
            border-bottom-left-radius: 0px;
            overflow: hidden;
            overflow-y: auto;
        }
    }
}